---
interface Props {
  image: string;
}
const { image } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<section class="w-full overflow-hidden">
  <img
    src={`${base}images/about/${image}`}
    alt="BBSD team"
    class="w-full object-cover"
  />
</section>
