---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/home/HeroSection.tsx";
import AboutPreview from "../components/home/AboutPreview.tsx";
import CoreStrengths from "../components/home/CoreStrengths.tsx";
import MarketCards from "../components/home/MarketCards.tsx";
import ServicesGrid from "../components/home/ServicesGrid.tsx";
import CTABanner from "../components/home/CTABanner.tsx";
import NewsPreview from "../components/home/NewsPreview.tsx";
import GetInTouchBanner from "../components/common/GetInTouchBanner.tsx";
---

<BaseLayout>
  <main>
    <HeroSection client:load />
    <AboutPreview client:visible />
    <CoreStrengths client:visible />
    <MarketCards client:visible />
    <ServicesGrid client:visible />
    <CTABanner client:visible />
    <NewsPreview client:visible />
    <GetInTouchBanner client:visible />
  </main>
</BaseLayout>
